  body {
    background: 	rgba(165, 170, 129, 0.595);
  }
  .recipe-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70%;
    min-height: 70%;
    background: #f1f2f5;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  