.login-button {
    align-self: flex-end;
    padding: 16px;
    margin-right: 1rem;
    width: 10%;
    border: none;
    float: right;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(162, 159, 106) 0%,
      rgb(149, 167, 95) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }

  .loginInput {
    margin-top: 5px;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 12px 20px 12px 40px;
    outline: none;
  }